
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 0.5em;
  font-weight: 500;
}
p {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

.landing-page {
  &-container {
    background: url("../../images/layout/Maggi\ Website_Homepage_1.psd.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 3609px;
    width: 1920px;
    margin: auto;
  }
}
.main-header {
  padding: 50px;
  padding-bottom: 30px;
  position: relative;
  &_logo {
    position: absolute;
    background: url("../../images/layout/maggi_logo.png");
    height: 13.5em;
    width: 13.5em;
    background-size: contain;
    background-repeat: no-repeat;
    left: 1.5em;
    top: 1.5em;
  }
  &_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-item {
      line-height: 32px;
      font-size: $primary-font-size;
      padding: 0 20px;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {

}
