html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "HandOfSean";
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: $primary-color;
}
p {
  font-size: 1em;
  font-family: Avenir;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.landing-page {
  background: url("../../images/layout/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-position-x: center;
  margin: auto;
  &-container {
    // background: url("../../images/layout/Maggi\ Website_Homepage_1.psd.jpg");
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 1140px;
    margin: auto;
  }
}
.main-header {
  padding: 40px 0;
  padding-bottom: 50px;
  position: relative;
  &_logo {
    position: absolute;
    background: url("../../images/layout/maggi_logo.png");
    height: 7.5em;
    width: 7.5em;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 1.5em;
  }
  &_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-item {
      display: flex;
      line-height: 1.7em;
      font-size: $primary-font-size;
      padding: 0 20px;
      font-family: "AvenirNext";

      &:hover {
        color: #646464;
        a {
          color: #646464;
        }
      }
      cursor: pointer;
      a {
        transition: color 0.3s ease-in;
        color: $primary-color;
      }
      &.language {
        padding: 0;
      }
      .language {
        &-common {
          &.en {
            padding-right: 0.7em;
            border-right: 1px solid;
          }
          &.bm {
            padding-left: 0.7em;
          }
          &.active {
            span {
              padding: 0.2em 0.3em;
              border-radius: 10px;
              background-color: rgba(255, 165, 0, 0.82);
              color: #fff;
            }
          }
        }
      }
    }
  }
}
