@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  p {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 0.2em;
  }
  .landing-page {
    &-container {
      width: 1280px;
    }
  }
  .main-header {
    &_logo {
      height: 8em !important;
    }
    &_menu {
      &-item {
        font-size: 20px;
      }
    }
  }
  .main-carousel-balance-bowl {
    height: 30em !important;
    &-full {
      height: 29em !important;
    }
    &-carbohydrates {
      span {
        font-size: 1.1em !important;
        bottom: 2em !important;
        left: 8em !important;
      }
    }
    &-protein {
      span {
        font-size: 1.1em !important;
        top: 3.5em !important;
        left: 9em !important;
      }
    }
    &-vegetable {
      span {
        font-size: 1.1em !important;
        top: 5.6em !important;
        right: 6em !important;
      }
    }
  }
  .main-carousel {
    .glass-of-water {
      top: 38% !important;
      left: 5em !important;
      font-size: 1.2em !important;
    }
    .carousel-header {
      margin-bottom: 0em !important;
    }
    .carousel {
      height: 16rem !important;
    }
    .indicator-wrapper {
      margin: 0 !important;
    }
    &-step {
      padding-top: 2rem !important;
      .left-arrow {
        top: 40% !important;
      }
      .right-arrow {
        top: 40% !important;
      }
    }
    .custom-button {
      margin: 1em 0 !important;
      margin-left: -1em !important;
    }
  }
  .steps {
    padding: 0 !important;
    .step {
      &-1-1 {
        height: 4em !important;
      }
      &-1-2 {
        height: 4em !important;
      }
      &-2-1 {
        height: 4em !important;
      }
      &-2-2 {
        height: 4em !important;
      }
      &-3-1 {
        height: 4em !important;
      }
      &-3-2 {
        height: 4em !important;
      }
    }
  }
  .sub-title-custom {
    font-size: 1em !important;
  }
  .description {
    font-size: 0.7em;
  }
  .why-maggi {
    padding: 11em !important;
    padding-bottom: 0 !important;
  }
  .custom-box {
    padding-left: 7em !important;
    &-item {
      &.right-box {
        padding-right: 6em !important;
      }
      .box-container {
        &-header {
          font-size: 1.2em !important;
        }
        &-content {
          img {
            margin-bottom: 0.8em !important;
            height: 5em;
          }
          p {
            font-size: 1rem !important;
            padding: 0 1em !important;
          }
        }
        &.convenience {
          padding-left: 3em;
          &-title {
            margin-top: 1em;
          }
          .box-container-content {
            img {
              margin-top: 0 !important;
            }
            margin-bottom: 2.5em;
            margin-top: 1.5em;
          }
        }
      }
    }
  }

  .delicious-recipes {
    padding: 5em 6em !important;
    padding-bottom: 0 !important;
    .custom-row {
      margin: 3em 0 !important;
    }
    &-header {
      padding: 1.5em !important;
      span {
        font-size: 13px !important;
      }
    }
    &_kari-box {
      height: 42em !important;
    }
    &_ayam-box {
      height: 42em !important;
    }
    &_tomyum-box {
      height: 42em !important;
    }
    .delecious-bowl {
      height: 8em !important;
    }
    &-calories {
      margin-bottom: 1em !important;
      span {
        font-size: 14px !important;
      }
      &_body {
        height: 9em !important;
        &-left {
          padding-top: 1em !important;
          .caloiries {
            height: 4em !important;
            background-size: contain !important;
          }
        }
        &-right {
          padding-top: 1em !important;
          .noodle {
            height: 3em !important;
          }
          .food {
            &-item {
              height: 3em !important;
            }
          }
          p {
            margin-top: 0.5em !important;
            font-size: 0.8rem !important;
            padding: 0 3em !important;
          }
          &.multiple {
            width: 90% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            p {
              padding: 8px !important;
            }
          }
        }
      }
    }
    .button-responsive {
      margin-top: 1em !important;
      margin-bottom: 2em !important;
    }
  }
}
