.delicious-recipes{
  padding: 9em 0em;
  padding-bottom: 0;
  text-align: center;
  .custom-row {
    margin: 4em 0;
  }
  &-header {
    padding: 1.5em;
    text-align: left;
    color: #fff;
    font-family: "HandOfSean";
    h1 {
      color: #fff;
    }
    span {
      font-size: 13px;
    }
  }
  .custom-button {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 2em;
    margin: 1em;
    border-radius: 20px;
  }
  &_kari-box {
    height: 45em;
    background: url("../../images/delicious-recipes/red\ base\ box.png");
    background-size: contain;
    background-repeat: no-repeat;

  }

  &_ayam-box {
    height: 45em;
    background: url("../../images/delicious-recipes/base.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &_tomyum-box {
    height: 45em;
    background: url("../../images/delicious-recipes/purple\ box\ base.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .delecious-bowl{
    position: absolute;
    height: 9em;
    top: 0em;
    right: 0;
  }

  .button-responsive {
    margin-bottom: 5em;
  }


}