$primary-color: #191919;
$primary-font-size: 27px;
$active-color: #EDA11C;
$title-size: 2.5rem;
$subtitle-size: 2rem;
$caption-size: 0.75rem;
$text-size: 1rem;

.caption {
  font-size: $caption-size;
}
.title {
  font-size: $title-size;
}
.sub-title {
  font-size: $subtitle-size;
}

button {
  outline: none !important;
}

.btn {
  height: 40px;
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  font-weight: 600;
  transition: all 0.3s ease-in;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn-default {
}

.mr-10 {
  margin-right: 10px;
}

.btn-primary {
  font-size: 25px;
  font-weight: 500;
  padding: 20px 2em;
  margin: 1em;
  background-color: $active-color;
  border-radius: 20px;
  color: #fff;
  &:hover {
    background-color: rgba(255, 165, 0, 0.82);
    color: #fff;
  }
}
