@font-face {
  font-family: HandOFSean;
  src: url("/maggi/fonts/Hand_Of_Sean_Demo.ttf");
}
@font-face {
  font-family: Avenir;
  src: url("/maggi/fonts/Avenir.ttc");
}
@font-face {
  font-family: AvenirNext;
  src: url("/maggi/fonts/Avenir Next.ttc");
}
@font-face {
  font-family: AvenirNextRegurlar;
  src: url("/maggi/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: MyriadPro;
  src: url("/maggi/fonts/MyriadPro-Regular.otf");
}

$primary-color: #191919;
$primary-font-size: 18px;
$active-color: #eda11c;
$title-size: 2.5rem;
$subtitle-size: 2rem;
$caption-size: 0.75rem;
$text-size: 1rem;

body {
  font-family: AvenirNextRegurlar;
}
.caption {
  font-size: $caption-size;
}
.title {
  font-size: $title-size;
}
.sub-title {
  font-size: $subtitle-size;
}

button {
  outline: none !important;
}

.btn {
  height: 45px;
  display: inline-flex;
  align-items: center;
  padding: 0 35px;
  font-weight: 600;
  transition: all 0.3s ease-in;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: AvenirNextRegurlar;
  font-size: 1rem;
}
.btn-default {
}

.mr-10 {
  margin-right: 10px;
}

.btn-primary {
  background-color: $active-color;
  color: #fff;
  &:hover {
    background-color: rgba(255, 165, 0, 0.82);
    color: #fff;
  }
}
.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  > button {
    display: flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    background: rgba(237, 161, 28, 0.5);
    border-radius: 100%;
    border: 1px solid #fff;
    transition: all 0.3s ease-in;
    cursor: pointer;
    &:hover {
      background: rgba(237, 161, 28, 0.8);
    }
  }
}
