.steps {
  padding: 1em;
  display: flex;
  position: relative;
  &-equal {
    position: absolute;
    font-size: 3em;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
  }
  .step {
    &-1-1 {
      height: 6em;
      background: url("../../images/Carousel/step_1_1.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &-1-2 {
      height: 6em;
      background: url("../../images/Carousel/step_1_2.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &-2-1 {
      height: 6em;
      background: url("../../images/Carousel/step_2_1.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &-2-2 {
      height: 6em;
      background: url("../../images/Carousel/step_2_2.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &-3-1 {
      height: 6em;
      background: url("../../images/Carousel/step_3_1.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &-3-2 {
      height: 6em;
      background: url("../../images/Carousel/step_3_2.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

  }
}
.sub-title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.description {
  font-size: 1em;
  span {
    cursor: pointer;
    color: #EDA11C;
  }
}