.main-carousel {

  .glass-of-water {
    position: absolute;
    top: 40%;
    left: 5em;
    width: 5em;
    text-align: center;
    font-size: 1.5em;
    font-family: "HandOfSean";
    .stroke {
      background: url("../../images/layout/stroke.png");
      height: 3em;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .carousel {
    height: 17rem;
    &-root {
      width: 25em;
    }
  }
  .columns {
    margin: 0;
  }
  .content {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  &-balance-bowl {
    width: 47em;
    height: 37em;
    position: relative;
    &-carbohydrates {
      height: 100%;
      background: url("../../images/layout/carbohydrates_circle_base.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
      -webkit-transition: background-image 0.2s ease-in-out;
      transition: background-image 0.2s ease-in-out;
      span {
        font-family: "AvenirNext";
        font-size: 1.3em;
        position: absolute;
        color: #fff;
        bottom: 2em;
        left: 4em;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      &.active {
        height: 111%;
        background: url("../../images/layout/carbohydrates.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;
      }

    }
    &-protein {
      height: 100%;
      background: url("../../images/layout/protein_circle_base.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
      -webkit-transition: background-image 0.2s ease-in-out;
      transition: background-image 0.2s ease-in-out;
      span {
        font-family: "AvenirNext";
        font-size: 1.3em;
        position: absolute;
        color: #fff;
        top: 3.7em;
        left: 5em;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      &.active {
        background: url("../../images/layout/protein.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;

      }
    }
    &-vegetable {
      height: 100%;
      background: url("../../images/layout/vegetables_circle_base.png");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transition: background-image 0.2s ease-in-out;
      transition: background-image 0.2s ease-in-out;
      span {
        font-family: "AvenirNext";
        font-size: 1.3em;
        position: absolute;
        color: #fff;
        top: 5.8em;
        right: 1.5em;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      &.active {
        background: url("../../images/layout/vegetable.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &-full {
      position: absolute;
      background: url("../../images/layout/balanced\ bowl.png");
      height: 39em;
      top: 51%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 39em;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .left-arrow {
    position: absolute;
    background: url("../../images/layout/left_arrow.png");
    height: 1.5em;
    width: 1.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 50%;
    left: -1.5em;
    transform: translateY(-50%);
  }

  .right-arrow {
    position: absolute;
    background: url("../../images/layout/right_arrow.png");
    height: 1.5em;
    width: 1.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 50%;
    right: -1em;
    transform: translateY(-50%);
}
  .indicator-wrapper {
    display: flex;
    justify-content: center;
    .indicator {
      padding: 0 2px;
      font-size: 1em;
      color: #646464;
      cursor: pointer;
      &:hover {
        color: $active-color;
      }
      &.active {
        color: $active-color;
      }
    }
  }

  .make-balance-bowl-button {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 2em;
    margin: 1em;
    background-color: $active-color;
    border-radius: 20px;
  }

  &-step {
    text-align: center;
    height: 100%;
    padding-top: 6rem;
    // padding-right: 2rem;
    padding-left: 0;
    position: relative;
    .carousel .slide {
      background: unset;
    }
  }

  .custom-button {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 2em;
    margin: 1em;
    border-radius: 20px;
  }


}