.why-maggi {
  padding: 13em;
  padding-bottom: 0;
  text-align: center;
  &-content {
    padding: 1em 5em;
  }
}

.custom-box {
  // padding-left: 10em;
  padding-right: 0;

  &-item {
    position: relative;
    img {
      position: absolute;
      z-index: 1;
    }
    &.right-box {
      // padding-right: 8em;
      height: 100%
    }
    .box-container {
      z-index: 2;
      position: relative;
      padding: 2em;
      text-align: center;
      &-header {
        font-size: 1.5em;
        font-family: "HandOfSean";
      }
      &-content{
        img {
          height: 6em;
          position: relative;
          margin-bottom: .5em;
        }
        p {
          padding: 0 1.2em;
          line-height: 1.3em;
          font-size: 1rem;
        }
      }
    }
  }
}